// 適当に色を設定
$red: #f00;
$green: #0f0;
$blue: #00f;

// v2.0.0
// Primitive
$primitive-yellow-50: #fbf5e0;
$primitive-yellow-300: #ffd43d;
$primitive-yellow-500: #ebb700;
$primitive-yellow-700: #b78f00;
$primitive-blue-50: #e8f1fe;
$primitive-blue-100: #d9e6ff;
$primitive-blue-200: #c5d7fb;
$primitive-blue-300: #9db7f9;
$primitive-blue-400: #7096f8;
$primitive-blue-500: #4979f5;
$primitive-blue-900: #0017c1;
$primitive-blue-1000: #00118f;
$primitive-red-50: #fdeeee;
$primitive-red-200: #fbb;
$primitive-red-400: #ff7171;
$primitive-orange-700: #e25100;
$primitive-green-50: #e6f5ec;
$primitive-green-200: #9bd4b5;
$primitive-green-400: #51b883;

// Neutral
$neutral-white: #fff;
$neutral-black: #000;
$neutral-solid-grey-50: #f2f2f2;
$neutral-solid-grey-100: #e6e6e6;
$neutral-solid-grey-200: #ccc;
$neutral-solid-grey-300: #b3b3b3;
$neutral-solid-grey-400: #999;
$neutral-solid-grey-420: #949494;
$neutral-solid-grey-536: #767676;
$neutral-solid-grey-600: #666;
$neutral-solid-grey-700: #4d4d4d;
$neutral-solid-grey-800: #333;
$neutral-solid-grey-900: #1a1a1a;

// semantic
$semantic-error-1: #ec0000;
$semantic-success-1: #259d63;

// v1.4.2
$text-light-body: #1a1a1c;
$text-light-description: #626264;
$text-light-alert: #ec0000;
$text-light-placeholder: #757578;
$text-link-blue: #0017c1;
$text-icon-active: #000060;
$text-light-visited: #000082;
$text-light-disabled: #949497;
$icon-light-label: #1a1a1c;
$icon-light-disabled: #949497;
$icon-light-active: #0017c1;
$border-light-divider: #d8d8db;
$border-light-object-line: #d9d9d9;
$background-light-quaternary: #f8f8fb;
$background-light-tertiary: #f8f8fb;
$background-light-secondary: #f1f1f4;
$button-light-active: #000082;
$button-hover-active-alert: #ce0000;
